<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="
            {{ if .IsHome }}
                Gaming news, guides, reviews, and more! Gaming-related website.
                Twitch, YouTube, Twitter Gaming, Facebook Meta Gaming.
                Competitive gaming, gaming video gaming championships, game
                awards, etc. See a little inside glimpse into the video gaming
                world. That's what this website is about. That's what society
                is about: anything related to video gaming.
            {{ else }}
                {{ .ReadingTime }} minute read. {{ .Summary }}
            {{ end }}
            ">
    <meta property="og:title" content="{{ .Title }}" />
    <meta property="og:type" content="website" />
    <meta property="og:url" content="{{ .Permalink }}" />
    <meta property="og:description" content="{{ .Summary }}" />
    {{ if (isset .Params "cover") }}
    <meta property="og:image" content='{{ .Param "cover" }}' />
    <meta content="#cf296f" data-react-helmet="true" name="theme-color" />
    <meta name="twitter:card" content="summary_large_image">
    {{ end }}
    <link rel="stylesheet" type="text/css" href="/css/style.css">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.9.0/font/bootstrap-icons.css">
    <link rel="canonical" href="https://sandvich.xyz" />
	<title>
        {{ if not .IsHome }}
            {{ .Title }} |
        {{ end }}
        {{ .Site.Title }}
        {{ if .IsHome }}
            - Gaming News, Guides, etc.
        {{ end }}
    </title>
</head>
