<header>
    <nav class="navbar">
        <div class="navbar-left">
            <a class="logo" href="/">
                The<span class="accent">Bat</span>Jam
            </a>
        </div>
        <div class="navbar-right">
            {{ $page := . }}
            {{ range .Site.Menus.main }}
                {{ $active := or ($page.IsMenuCurrent "main" .) ($page.HasMenuCurrent "main" .) }}
                {{ $active = or $active (eq .Identifier $page.Title) }}
                {{ $active = or $active (and (eq .Name "tags") (eq $page.Section "tags")) }}
                <a class="{{ if $active }} active {{ else }} inactive {{ end }}"
                        href="{{ .URL }}">{{ .Name }}</a>
            {{ end }}
        </div>
    </nav>
</header>
