<div class="post">
    <div class="column thumbnail">
        <a href="{{ .RelPermalink }}">
            <img src='{{ .Param "cover" }}'>
        </a>
    </div>
    <div class="column right">
        <div>
            <a href="{{ .RelPermalink }}" class="post-title">
                {{ .Title }}
            </a>
        </div>
        <div>
            {{ .PublishDate.Format "2 January 2006" }}
            &middot;
            {{ .Summary }}
        </div>
        <div style="margin-top: 16px;">
            <b>{{ partial "taglist-small.html" . -}}</b>
        </div>
    </div>
 </div>
