{{- if isset .Params "tags" -}}
    {{- $tagsLen := len .Params.tags -}}
    {{- if gt $tagsLen 0 -}}
<span style="clear:both" class="taglist">
{{- with .Site.Params.relatedtext }}{{ . }}<br>{{ end -}}
        {{- range $k, $v := .Params.tags -}}
        {{- $url := printf "tags/%s" (. | urlize) -}}
        <a class="tag small" id="tag_{{ . | lower }}" href="{{ $url | absURL }}">#{{ . }}</a>
        {{- if lt $k (sub $tagsLen 1) }} {{ end -}}
        {{- end -}}
</span>
    {{- end -}}
{{- end }}

